// Variables you want to modify
//@import '~vuetify/src/styles/styles.sass';
//@import '~vuetify/src/styles/settings/_variables.scss';
//@import '~vuetify/src/styles/tools/_functions.sass';


//@debug map-get($grid-breakpoints, 'md');
$body-font-family: 'Helvetica', sans-serif !default;
$font-size-root: 16px !default;
$line-height-root: 1.5 !default;
$border-radius-root: 4px !default;

$container-max-widths: (
  'lg': 1300px,
  'xl': 1300px
);

$btn-text-transform: none;

//@debug $carousel-controls-bg;
$carousel-controls-bg: transparent;

@import '~vuetify/src/styles/styles.sass';
$carousel-controls-bg: transparent;

$icon-outlined-border-width: 3px !default;
