https://back.adamanta.com.ua {
    root /app/public
    fastcgi / app:9000 php {
        index index.php index.html index.htm
    }
    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    gzip
    browse
    #log /var/log/caddy/access.log
    #errors /var/log/caddy/error.log

    tls back.adamanta@gmail.com
}

https://adamanta.com.ua {
    proxy / node:1780

    timeouts 5m
    gzip
    browse
    #log /var/log/caddy/access.log
    #errors /var/log/caddy/error.log

    tls adamanta@gmail.com
}
