.size12-weight400
  font-size: 12px
  font-weight: 400
  line-height: 14px
  font-style: normal
  letter-spacing: 0

.size14-weight400
  font-size: 14px
  font-weight: 400
  line-height: 14px
  font-style: normal
  letter-spacing: 0

.size16-weight400
  font-size: 16px
  font-weight: 400
  line-height: 14px
  font-style: normal
  letter-spacing: 0

.size18-weight400
  font-size: 18px
  font-weight: 400
  line-height: 14px
  font-style: normal
  letter-spacing: 0

.size22-weight400
  font-size: 14px
  font-weight: 400
  line-height: 22px
  font-style: normal
  letter-spacing: 0

.size36-weight400
  font-size: 36px
  font-weight: 400
  line-height: 22px
  font-style: normal
  letter-spacing: 0

.size16-weight700
  font-size: 16px
  font-weight: 700
  line-height: 22px
  font-style: normal
  letter-spacing: 0

.size18-weight700
  font-size: 18px
  font-weight: 700
  line-height: 22px
  font-style: normal
  letter-spacing: 0

.size20-weight700
  font-size: 20px
  font-weight: 700
  line-height: 22px
  font-style: normal
  letter-spacing: 0

.size22-weight700
  font-size: 22px
  font-weight: 700
  line-height: 22px
  font-style: normal
  letter-spacing: 0

.size24-weight700
  font-size: 24px
  font-weight: 700
  line-height: 22px
  font-style: normal
  letter-spacing: 0

.size36-weight700
  font-size: 36px
  font-weight: 700
  line-height: 22px
  font-style: normal
  letter-spacing: 0

.size52-weight700
  font-size: 52px
  font-weight: 700
  line-height: 22px
  font-style: normal
  letter-spacing: 0

.size64-weight700
  font-size: 64px
  font-weight: 700
  line-height: 22px
  font-style: normal
  letter-spacing: 0

