@import '~vuetify/src/styles/styles.sass';

.flex-center{
  display: flex !important;
  justify-content: center !important;;
  align-items: center !important;;
}

.flex-left{
  display: flex !important;;
  justify-content: left !important;;
  align-items: center !important;;
}

.flex-right{
  display: flex !important;;
  justify-content: right !important;;
  align-items: center !important;;
}

.w-100{
  width: 100%;
}

.w-md-100{
  @media (max-width: map-get($grid-breakpoints, md)) {
    width: 100%;
  }
}

.h-100{
  height: 100%;
}

.pointer{
  cursor: pointer;
}

.text-center{
  text-align: center;
}

.text-underline {
  text-decoration: underline !important;
}

.text-underline-none {
  text-decoration: none !important;
}

.position-relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.text-md-center {
  @media (min-width: map-get($grid-breakpoints, md)) {
    text-align: center;
  }
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-md-100 {
  @media (min-width: map-get($grid-breakpoints, md)) {
    margin-bottom: 100px;
  }
}

.mb-md-150 {
  @media (min-width: map-get($grid-breakpoints, md)) {
    margin-bottom: 150px;
  }
}

.mb-md-200 {
  @media (min-width: map-get($grid-breakpoints, md)) {
    margin-bottom: 200px;
  }
}

.cursor-default {
  cursor: default;
}
